# Project exclude paths
.gradle
.idea
build
application-riotapi.properties
application-redis.properties
application-filepath.properties
application-mysql.properties
application-real-mysql.properties
application-ssl.properties
application-slack.properties