<!DOCTYPE HTML>
<html>
<head>
    <title>League of Legends 챌린저 리더 보드</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }

    @media (min-width: 992px) {
      .container {
        width: 1000px;
      }
    }

    @media (min-width: 1200px) {
      .container {
        width: 1000px;
      }
    }
    </style>
</head>
<body>