<!DOCTYPE HTML>
<html>
<head>
    <title>League of Legends 챌린저 TOP 50</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/boostrap.min.css">
</head>
<body>