{{>layout/header}}
    <h1>League of Legends 챌린저 TOP 50</h1>
    <div class="col-md-12">
        <table class="table table-horizontal table-bordered">
            <thred class="thead-strong">
                <tr>
                    <th>순위</th>
                    <th>소환사명</th>
                </tr>
            </thred>
            <tbody id="tbody">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{{>layout/footer}}