{{>layout/header}}
    <h1>League of Legends 챌린저 랭킹</h1>
    <div class="col-md-12">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>순위</th>
                    <th>소환사명</th>
                    <th>점수</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#leagueList}}
                <tr>
                    <td>{{rank}}</td>
                    <td><a href="/summoner/{{summonerName}}/matches">{{summonerName}}</a></td>
                    <td>{{leaguePoints}}</td>
                </tr>
                {{/leagueList}}
            </tbody>
        </table>
    </div>
{{>layout/footer}}