{{>layout/header}}
<h1>소환사 대전 기록</h1>
<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>소환사</th>
            <th>킬</th>
            <th>데스</th>
            <th>어시스트</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#matches}}
            {{#players}}
            <tr>
                <td>{{summonerName}}</td>
                <td>{{kills}}</td>
                <td>{{deaths}}</td>
                <td>{{assists}}</td>
            </tr>
            {{/players}}
        {{/matches}}
        </tbody>
    </table>
</div>
{{>layout/footer}}